.allProfileList{
    width: 15rem;
    .allUserIndexList{
        background: $backHome;
        box-shadow: 0 0 5px $border1;
        border-radius: 10px;
        overflow: hidden;
        .allUserIndexListsUser{
            display: grid;
            grid-template-columns: 1fr;
            border-bottom: 1px solid $border1;
            padding-bottom: .5rem;
            padding-top: .5rem;
            .allUserIndexListsUserPic{
                display: grid;
                justify-content: center;
                overflow: hidden;
                padding-top: 1rem;
                .pic{
                    position: relative;
                    img{
                        width: 3rem;
                        height: 3rem;
                        border-radius: 5rem;
                        object-fit: cover;
                    }
                }
            }
            .allUserIndexListsUserItem{
                margin-top: .5rem;
                text-align: center;
                .allUserIndexListsUserName{
                    font-size: 1.1rem;
                    vertical-align: center;
                    color: $text1;
                    opacity: .7;
                    font-weight: 700;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                .allUserIndexListsUserScore{
                    display: grid;
                    grid-template-columns: auto auto;
                    justify-content: center;
                    align-items: center;
                    grid-gap: .3rem;
                    padding: 0 1rem;
                    margin-top: .8rem;
                    svg{
                        width: 1.3rem;
                        height: 1.3rem;
                    }
                    span{
                        font-size: .75rem;
                        font-weight: 500;
                        letter-spacing: 1px;
                        line-height: 1.833;
                        color: orange;
                    }
                }
            }
            h4{
                font-size: .8rem;
                font-weight: 300;
                color: $text1;
                text-align: center;
                margin-top: 1rem;
            }
        }
        .allUserIndexListItems{
            display: grid;
            grid-template-columns: 1fr 1fr;
            a{
                display: grid;
                grid-template-columns: 1fr;
                text-align: center;
                padding: 1rem .5rem;
                font-size: .8rem;
                font-weight: 300;
                color: $text1;
                &:first-child{
                    border-left: 1px solid $border1;
                }
            }
        }
    }
    .walletData{
        background: $backHome;
        box-shadow: 0 0 5px $border1;
        border-radius: 10px;
        overflow: hidden;
        margin-top: 1rem;
        padding: 1rem;
        i{
            display: grid;
            justify-content: center;
            svg{
                width: 5rem;
                height: 5rem;
            }
        }
        h3{
            font-size: 1.2rem;
            font-weight: 300;
            color: $text2;
            text-align: center;
            span{
                font-size: 1rem;
                letter-spacing: .1px;
            }
        }
        a{
            display: grid;
            width: 100%;
            text-align: center;
            font-size: .9rem;
            font-weight: 300;
            color: $green;
            margin-top: .5rem;
        }
    }
    .allUserIndexListsItems{
        background: $backHome;
        margin-top: 1rem;
        box-shadow: 0 0 5px $border1;
        border-radius: 10px;
        overflow: hidden;
        position: sticky;
        top: 1rem;
        padding: 1rem .5rem;
        .allUserIndexListsItem{
            display: grid;
            grid-template-columns: 1fr auto;
            justify-content: right;
            align-items: center;
            grid-gap: .5rem;
            margin-top: 1.5rem;
            cursor: pointer;
            i{
                display: grid;
                justify-content: center;
                align-items: center;
                svg{
                    width: .8rem;
                    height: .8rem;
                    fill: $green;
                }
            }
            a,h3{
                transition:all .3s ease-in-out;
                font-size: .9rem;
                font-weight: 700;
                color: $text1;
                letter-spacing: .2px;
                opacity: .6;
            }
            &:first-child{
                margin-top: 0;
            }
        }
        .userProducts{
            margin-top: 1.5rem;
            .slide-fade-enter-active{
                transition: all .3s ease-in-out;
            }
            .slide-fade-leave-active {
                transition: all .3s ease-in-out;
            }
            .slide-fade-enter{
                transform: translateY(-10px);
            }
            .slide-fade-leave-to{
                transform: translateY(-10px);
            }
            ul{
                li{
                    margin-top: .8rem;
                    a{
                        font-size: .8rem;
                        font-weight: 300;
                        padding-right: .5rem;
                        color: $text1;
                        letter-spacing: .2px;
                        display: grid;
                        grid-template-columns: 1.4rem 1fr;
                        justify-content: right;
                        align-items: center;
                        &:before{
                            content: "";
                            display: grid;
                            width: 5px;
                            height: 5px;
                            border-radius: 5px;
                            background: $text1;
                            transition: all .3s ease-in-out;
                        }
                        &:hover{
                            &:before{
                                width: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
    .becomeList{
        margin-top: 1rem;
        border-radius: 10px;
        box-shadow: 0 0 5px $border1;
        position: relative;
        display: grid;
        overflow: hidden;
        h4{
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            justify-content: right;
            grid-gap: .5rem;
            margin: 1rem;
            font-size: 1rem;
            font-weight: 500;
            color: white;
            z-index: 20;
            i{
                display: grid;
                align-items: center;
                svg{
                    width: 1.3rem;
                    height: 1.3rem;
                    fill: white;
                }
            }
        }
        .pic{
            z-index: 5;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            transform: scale(3);
            background-image: url("/img/backStore.png");
            display: grid;
            background-size: cover;
        }
    }
}
@media screen and (max-width: 800px) {
    .allProfileList{
        width: 100%;
        margin-bottom: 1rem;
    }
}
