.allHeaderIndex{
    .topFixed{
        display: grid;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .headerTop{
        background: $headerHome;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
        padding: 1rem 0;
        position: relative;
        z-index: 10;
        .block{
            margin: auto;
            display: grid;
            grid-template-columns: auto 35rem 1fr;
            grid-gap: 1rem;
            .pic{
                img{
                    max-width: 9rem;
                    height: 3rem;
                    object-fit: contain;
                }
            }
            form{
                position: relative;
                label{
                    display: grid;
                    grid-template-columns: auto 1fr auto;
                    grid-gap: .5rem;
                    align-items: center;
                    background: $backHome2;
                    border-radius: 10px;
                    padding: .5rem;
                    cursor: text;
                    position: relative;
                    input{
                        width: 100%;
                        font-size: .85rem;
                        color: $text1;
                        height: 100%;
                        background: transparent;
                    }
                    select{
                        padding: .3rem;
                        border-radius: 5px;
                        font-size: .8rem;
                        font-weight: 300;
                        background: $backHome;
                        color: $text1;
                        box-shadow: 0 0 5px rgba(0,0,0,.1);
                    }
                    i{
                        background: $backHome;
                        border-radius: 5px;
                        box-shadow: 0 0 5px rgba(0,0,0,.1);
                        width: 2rem;
                        height: 2rem;
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        svg{
                            width: 1.5rem;
                            height: 1.5rem;
                            fill: #6b6f80;
                        }
                    }
                }
                ul{
                    position: absolute;
                    top: 100%;
                    right: 0;
                    left: 0;
                    background: $backHome2;
                    box-shadow: 0 10px 10px rgba(0,0,0,.1);
                    z-index: 100;
                    border-radius: 5px;
                    max-height: 18rem;
                    overflow-y: scroll;
                    li{
                        a{
                            display: grid;
                            grid-template-columns: auto 1fr auto;
                            align-items: center;
                            grid-gap: .5rem;
                            padding: .5rem;
                            .pic{
                                display: grid;
                                justify-content: center;
                                img{
                                    width: 3rem;
                                    height: 3rem;
                                }
                            }
                            .subject{
                                h3{
                                    font-size: .75rem;
                                    font-weight: 300;
                                    color: $text1;
                                    margin-bottom: .3rem;
                                }
                                h5{
                                    opacity: .7;
                                    font-size: .7rem;
                                    font-weight: 300;
                                    color: $text1;
                                }
                            }
                            .price{
                                font-size: .8rem;
                                font-weight: 900;
                                color: $green;
                                letter-spacing: .1px;
                            }
                        }
                        &:nth-child(even){
                            background: $backHome;
                        }
                    }
                }
                .searchLoad{
                    position: absolute;
                    left: .5rem;
                    top: 0;
                    bottom: 0;
                    display: grid;
                    justify-content: center;
                    align-items: center;
                    .loading{
                        width: 1rem;
                        height: 1rem;
                        fill: $text1;
                        animation: arrow-anim2 .5s ease infinite;
                        @keyframes arrow-anim2 {
                            0% {
                                transform: rotate(0deg);
                            }
                            15% {
                                transform: rotate(45deg);
                            }
                            25% {
                                transform: rotate(90deg);
                            }
                            50% {
                                transform: rotate(180deg);
                            }
                            75% {
                                transform: rotate(270deg);
                            }
                            85% {
                                transform: rotate(300deg);
                            }
                            100% {
                                transform: rotate(360deg);
                            }
                        }
                    }
                }
            }
            .left{
                display: grid;
                grid-template-columns: repeat(4,auto);
                justify-content: left;
                align-items: center;
                grid-gap: 1rem;
                .cityChoice{
                    padding: .2rem .5rem;
                    border-radius: 10px;
                    border: 1px solid $border1;
                    display: grid;
                    grid-template-columns: auto 1fr;
                    align-items: center;
                    grid-gap: .5rem;
                    cursor: pointer;
                    i{
                        display: grid;
                        align-items: center;
                        justify-content: center;
                        svg{
                            width: 1.1rem;
                            height: 1.1rem;
                            fill: $text2;
                        }
                    }
                    .leftCity{
                        h4{
                            font-size: .75rem;
                            font-weight: 500;
                            color: $text1;
                        }
                        h5{
                            font-size: .75rem;
                            font-weight: 300;
                            color: $green;
                        }
                    }
                }
                .themeButton1{
                    button{
                        display:grid;
                        align-items: center;
                        justify-content: center;
                        background: transparent;
                        border-radius: 100%;
                        width: 2.5rem;
                        height: 2.5rem;
                        background: linear-gradient(180deg, #ffcc89, #d8860b);
                        box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
                        svg{
                            transition: all .3s ease-in-out;
                            width: 2rem;
                            height: 2rem;
                            fill: white;
                            transform: rotate(0);
                        }
                    }
                }
                .user{
                    display: grid;
                    grid-template-columns: auto auto;
                    grid-gap: .3rem;
                    justify-content: left;
                    align-items: center;
                    position: relative;
                    .pic{
                        cursor: pointer;
                        img{
                            width: 3rem;
                            height: 3rem;
                            object-fit: cover;
                            border-radius: 100%;
                        }
                    }
                    ul{
                        background: $backHome2;
                        position: absolute;
                        top: 105%;
                        left: 0;
                        width: 13rem;
                        border-radius: 10px;
                        transition: all .3s ease-in-out;
                        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
                        border: 1px solid $border1;
                        z-index: 100;
                        display: none;
                        li{
                            color: $text1;
                            .picUser{
                                width: 2.2rem;
                                height: 2.2rem;
                                border-radius: 5rem;
                                overflow: hidden;
                                img{
                                    height: 100%;
                                    width: 100%;
                                    object-fit: cover;
                                }
                            }
                            .infoUser{
                                display: grid;
                                grid-template-columns: 1fr;
                                grid-gap: .2rem;
                                span{
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    font-size: .75rem;
                                    font-weight: 300;
                                }
                            }
                            a{
                                display: grid;
                                grid-template-columns: auto auto;
                                justify-content: right;
                                align-items: center;
                                grid-gap: .5rem;
                                padding: .7rem;
                                background: transparent;
                                color: $text1;
                                font-size: .75rem;
                                font-weight: 300;
                                width: 10rem;
                                i{
                                    display: grid;
                                    justify-content: center;
                                    align-items: center;
                                    svg{
                                        width: 1rem;
                                        height: 1rem;
                                        fill: $text1;
                                    }
                                }
                            }
                            &:first-child{
                                display: grid;
                                grid-template-columns: auto auto;
                                justify-content: right;
                                align-items: center;
                                background: transparent;
                                grid-gap: .5rem;
                                border-bottom: 1px solid $border1;
                                padding: .5rem;
                            }
                            &:first-child{
                                border-bottom-right-radius: 0;
                                border-bottom-left-radius: 0;
                                overflow: hidden;
                            }
                        }
                    }
                }
                .login{
                    border: 1px solid black;
                    border-radius: 10px;
                    padding: .5rem 1rem;
                    display: grid;
                    grid-template-columns: auto auto;
                    justify-content: center;
                    align-items: center;
                    grid-gap: .5rem;
                    color: $text1;
                    font-size: .9rem;
                    font-weight: 300;
                    i{
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        svg{
                            width: 1.5rem;
                            height: 1.5rem;
                            fill: $text1;
                        }
                    }
                }
                .headerCart{
                    position: relative;
                    display: grid;
                    .showCartEmpty{
                        display: grid;
                        grid-template-columns: 1fr;
                        justify-content: center;
                        padding: 1rem;
                        i{
                            display: grid;
                            justify-content: center;
                            svg{
                                width: 3rem;
                                height: 3rem;
                                fill: $green;
                            }
                        }
                        h3{
                            font-weight: 500;
                            font-size: 1rem;
                            color: $text1;
                            margin-top: .5rem;
                            text-align: center;
                        }
                    }
                    .headerCartItems{
                        .cartShowBtn{
                            display: grid;
                            grid-template-columns: auto 1fr auto;
                            align-items: center;
                            background: $backHome2;
                            padding: 0.5rem 1rem;
                            border-radius: 10px;
                            grid-gap: .5rem;
                            cursor: pointer;
                            i{
                                display: grid;
                                justify-content: center;
                                align-items: center;
                                svg{
                                    fill: $text1;
                                    width: 1.2rem;
                                    height: 1.2rem;
                                }
                            }
                            span{
                                font-size: 0.9rem;
                                color: $text1;
                                font-weight: 300;
                            }
                            h5{
                                display: grid;
                                justify-content: center;
                                align-items: center;
                                border-radius: 5px;
                                font-size: 0.9rem;
                                color: $text1;
                                background: $backHome;
                                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
                                padding: .1rem .5rem;
                            }
                        }
                        .showCart{
                            background: $backHome;
                            border-radius: 5px;
                            width: 30rem;
                            box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
                            position: absolute;
                            left: 0;
                            top: 130%;
                            border: 1px solid $border1;
                            overflow: hidden;
                            z-index: 900;
                            display: none;
                            ul{
                                max-height: 20rem;
                                overflow-y: scroll;
                                li{
                                    position: relative;
                                    display: grid;
                                    grid-template-columns: auto 1fr;
                                    align-items: center;
                                    grid-gap: .3rem;
                                    padding: 1rem;
                                    border-bottom: 1px solid $border1;
                                    .cartPic{
                                        height: 6rem;
                                        width: 6rem;
                                        img{
                                            width: 100%;
                                            height: 100%;
                                            object-fit: cover;
                                        }
                                    }
                                    .cartText{
                                        .cartTitle{
                                            h4{
                                                font-size: .9rem;
                                                font-weight: 500;
                                                color: $text1;
                                                margin-bottom: .5rem;
                                                &:nth-child(2){
                                                    font-size: .8rem;
                                                    font-weight: 300;
                                                    opacity: .7;
                                                }
                                                &:nth-child(3){
                                                    font-size: .8rem;
                                                    font-weight: 300;
                                                    opacity: .7;
                                                }
                                                &:nth-child(4){
                                                    font-size: .8rem;
                                                    font-weight: 300;
                                                    opacity: .7;
                                                }
                                            }
                                            i{
                                                position: absolute;
                                                left: .5rem;
                                                top: .5rem;
                                                width: 1rem;
                                                height: 1rem;
                                                border-radius: 5rem;
                                                box-shadow: 0 0 0 0 ;
                                                cursor: pointer;
                                                border: 0;
                                                svg{
                                                    fill: red;
                                                    width: 1rem;
                                                    height: 1rem;
                                                }
                                            }
                                        }
                                        .cartTextItem{
                                            display: grid;
                                            grid-template-columns: auto auto;
                                            justify-content: left;
                                            align-items: center;
                                            grid-gap: .5rem;
                                            margin-top: .8rem;
                                            .cartPrice{
                                                span{
                                                    display: grid;
                                                    justify-content: left;
                                                    align-items: center;
                                                    grid-gap: .5rem;
                                                    font-weight: 900;
                                                    font-size: 1rem;
                                                    color: $green;
                                                }
                                            }
                                        }
                                    }
                                    &:last-child{
                                        border-bottom: 0;
                                    }
                                }
                            }
                            .showCartBot{
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                grid-gap: 1rem;
                                align-items: center;
                                background: $backHome;
                                padding: .5rem;
                                a{
                                    background: orange;
                                    padding: .5rem 1rem;
                                    color: white;
                                    border-radius: 5px;
                                    font-size: .9rem;
                                    font-weight: 300;
                                    text-align: center;
                                    &:nth-child(2){
                                        background: $green;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .searchData{
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            transition: all .3s ease-in-out;
            background: $backHome;
            display: grid;
            grid-template-columns: 1fr auto auto;
            align-items: center;
            height: 4rem;
            z-index: 100;
            button{
                background: $backHome;
                display: grid;
                align-items: center;
            }
            svg{
                width: 1.4rem;
                height: 1.4rem;
                fill: $text1;
                margin-left: 1rem;
                &:hover{
                    fill: black;
                }
            }
            i{
                padding: 1rem;
                display: grid;
                justify-content: center;
                align-items: center;
                border-right: 1px solid $border1;
                background: white;
                svg{
                    margin-left: 0;
                }
            }
            input{
                width: 100%;
                padding: 1rem;
                font-size: 1rem;
                font-weight: 300;
                color: $text1;
            }
        }
        .categoryHeaderResponsive{
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            transition: all .3s ease-in-out;
            background: $backHome;
            width: 80%;
            z-index: 900;
            box-shadow: 0 1px 7px rgba(0,0,0,.25);
            overflow: scroll;
            display: none;
            .title{
                display: grid;
                grid-template-columns: 1fr auto;
                align-items: center;
                height: 55px;
                border-bottom: 1px solid $border1;
                span{
                    color: $text1;
                    font-weight: 700;
                    font-size: 1rem;
                    padding: 0 1rem;
                }
                i{
                    border-right: 1px solid $border1;
                    display: grid;
                    align-items: center;
                    justify-content: center;
                    width: 4rem;
                    height: 100%;
                    svg{
                        width: 1.7rem;
                        height: 1.7rem;
                        fill: $text1;
                    }
                }
            }
            .allCats{
                li{
                    .allCatsTitle{
                        display: grid;
                        grid-template-columns: 1fr auto;
                        align-items: center;
                        height: 55px;
                        border-bottom: 1px solid $border1;
                        a{
                            color: $text1;
                            font-weight: 300;
                            font-size: .85rem;
                            padding: 0 1rem;
                        }
                        i{
                            border-right: 1px solid $border1;
                            display: grid;
                            align-items: center;
                            justify-content: center;
                            width: 4rem;
                            height: 100%;
                            svg{
                                width: .85rem;
                                height: .85rem;
                                fill: $text1;
                            }
                        }
                    }
                    .allCatsList{
                        background: $backHome2;
                        display: none;
                        li{
                            ul{
                                background: $backHome;
                                li{
                                    background: $backHome2;
                                    border-right: 1px solid $border1;
                                }
                            }
                        }
                    }
                }
            }
        }
        .allFilterCity{
             position: fixed;
             top: 0;
             bottom: 0;
             right: 0;
             left: 0;
             background: hsla(0,0%,52.9%,.5);
             z-index: 999;
             display: none;
             .filterCity{
                 background: $backHome;
                 padding: 1rem;
                 width: 35%;
                 margin: auto;
                 border-radius: 10px;
                 position: absolute;
                 left: 50%;
                 top: 50%;
                 transform: translate(-50%, -50%);
                 display: none;
                 .titleAddress{
                     display: grid;
                     grid-template-columns: auto auto;
                     justify-content: space-between;
                     align-items: center;
                     span{
                         font-size: 1.1rem;
                         font-weight: 500;
                         color: $text1;
                     }
                     i{
                         cursor: pointer;
                         svg{
                             width: 2rem;
                             height: 2rem;
                             fill: $text1;
                         }
                     }
                 }
                 .form{
                     .item{
                         margin-top: 2rem;
                         label{
                             color: $text1;
                             font-weight: 300;
                             font-size: .9rem;
                             margin-bottom: .5rem;
                         }
                         select{
                             border: 1px solid $border1;
                             padding: 0 .5rem;
                             background: $backHome;
                             color: $text1;
                             border-radius: 5px;
                             font-size: .85rem;
                             width: 100%;
                             height: 2.5rem;
                             font-weight: 300;
                             transition: all .3s ease-in-out;
                             &:focus{
                                 box-shadow: 0 3px 8px 0 rgba(0,0,0,.1);
                                 border: 1px solid $blue;
                             }
                         }
                         select[name='city']{
                             display: none;
                         }
                     }
                     #cityContainer{
                         display: none;
                     }
                     @media screen and (max-width: 1600px) {
                         .item{
                             margin-top: .5rem;
                         }
                     }
                 }
                 .bottomAddress{
                     margin-top: 1rem;
                     display: grid;
                     grid-template-columns: auto auto;
                     justify-content: right;
                     align-items: center;
                     grid-gap: 1rem;
                     button{
                         padding: .3rem 1rem;
                         background: $green;
                         color: white;
                         font-size: .9rem;
                         font-weight: 300;
                         border-radius: 5px;
                     }
                 }
             }
             @media screen and (max-width: 700px) {
                 .filterCity{
                     width: 98%;
                 }
             }
         }
    }
    .headerBot{
        background: $headerHome2;
        margin: auto;
        position: relative;
        z-index: 9;
        padding: 1rem;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        .headerList{
            display: grid;
            grid-template-columns: repeat(auto-fit , minmax(5px , auto));
            justify-content: right;
            align-items: center;
            grid-gap: 3rem;
            transition: all .3s ease-in-out;
            li{
                transition: all .3s ease-in-out;
                &:hover{
                    .divListContainer{
                        visibility: visible;
                        opacity: 1;
                    }
                }
                a{
                    display: grid;
                    grid-template-columns: auto auto;
                    justify-content: right;
                    align-items: center;
                    grid-gap: .5rem;
                    color: $text1;
                    font-weight: 500;
                    font-size: .95rem;
                    letter-spacing: .1px;
                    i{
                        display: grid;
                        justify-content: right;
                        align-items: center;
                        svg{
                            fill: $text1;
                            width: .6rem;
                            height: .6rem;
                        }
                    }
                }
                span{
                    cursor: pointer;
                    color: $text1;
                    font-weight: 500;
                    font-size: .8rem;
                    letter-spacing: .1px;
                }
                .divListContainer{
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    right: 0;
                    top: calc(100% - 10px);
                    transition: all .3s ease-in-out;
                    background: $backHome3;
                    width: 100%;
                    border-bottom-right-radius: 10px;
                    border-bottom-left-radius: 10px;
                    padding: 1rem;
                    z-index: 990;
                    .divListsContainer{
                        right: 0;
                        top: calc(100% - 10px);
                        width: 100%;
                        transition: all .3s ease-in-out;
                        background: $backHome3;
                        border-bottom-right-radius: 10px;
                        border-bottom-left-radius: 10px;
                        z-index: 990;
                        .listsContainer{
                            align-content: flex-start;
                            align-items: baseline;
                            display: flex;
                            flex-direction: column;
                            flex-wrap: wrap;
                            background: $backHome;
                            box-shadow: 0 0 5px rgba(0,0,0,.05);
                            border-radius: 5px;
                            padding: 1rem;
                            height: 20rem;
                            a{
                                box-shadow: 0 0 0 0;
                                font-weight: 300;
                                font-size: .8rem;
                                background: transparent;
                                color: $text1;
                                display: grid;
                                opacity: .7;
                                margin-bottom: .5rem;
                                width: 11rem;
                                margin-left: 2rem;
                            }
                            .active{
                                display: flex;
                                justify-content: right;
                                gap: .5rem;
                                align-items: center;
                                transition: all .3s ease-in-out;
                                color: black;
                                font-weight: 700;
                                font-size: .9rem;
                                opacity: 1;
                                &:before{
                                    width: 2px;
                                    height: 20px;
                                    background: red;
                                    content: "";
                                }
                            }
                        }
                    }
                }
            }
            .linkHead{
                position: relative;
                .tooltip{
                    background: red;
                    border-radius: 5px;
                    color: white;
                    font-size: .65rem;
                    font-weight: 300;
                    position: absolute;
                    bottom: 100%;
                    left: -10px;
                    padding: 0 .3rem;
                    &:before{
                        content: "";
                        position: absolute;
                        left: 15px;
                        top: 15px;
                        border-style: solid;
                        border-width: 7px 7px 0 0;
                        border-color: rgba(0, 0, 0, 0) red rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
                        transform: rotate(-93deg);
                    }
                }
            }
        }
    }
    @media screen and (max-width: 800px) {
        .topFixed{
            visibility: hidden;
            opacity: 0;
            top: -10rem;
            position: absolute;
        }
        .headerTop{
            padding: .5rem 0;
            .block{
                margin: auto;
                display: grid;
                grid-template-columns: auto auto;
                grid-gap: 1rem;
                .pic{
                    img{
                        max-width: 5rem;
                        height: 3rem;
                    }
                }
                label,form{
                    position: absolute;
                    top: 0;
                    opacity: 0;
                    visibility: hidden;
                }
                .left{
                    grid-template-columns: auto auto auto;
                    grid-gap: .5rem;
                    .user{
                        visibility: hidden;
                        position: absolute;
                        top: 0;
                        .pic{
                            cursor: pointer;
                            img{
                                width: 100%;
                                height: 2rem;
                                object-fit: contain;
                                border-radius: 100%;
                            }
                        }
                        ul{
                            background: white;
                            position: absolute;
                            top: 105%;
                            left: 0;
                            width: 13rem;
                            border-radius: 10px;
                            transition: all .3s ease-in-out;
                            box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
                            border: 1px solid #eee;
                            z-index: 100;
                            display: none;
                            li{
                                color: $text1;
                                .picUser{
                                    width: 2.2rem;
                                    height: 2.2rem;
                                    border-radius: 5rem;
                                    overflow: hidden;
                                    img{
                                        height: 100%;
                                        width: 100%;
                                        object-fit: cover;
                                    }
                                }
                                .infoUser{
                                    display: grid;
                                    grid-template-columns: 1fr;
                                    grid-gap: .2rem;
                                    span{
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        font-size: .75rem;
                                        font-weight: 300;
                                    }
                                }
                                a{
                                    display: grid;
                                    grid-template-columns: auto auto;
                                    justify-content: right;
                                    align-items: center;
                                    grid-gap: .5rem;
                                    padding: .7rem;
                                    background: transparent;
                                    color: $text1;
                                    font-size: .75rem;
                                    font-weight: 300;
                                    width: 10rem;
                                    i{
                                        display: grid;
                                        justify-content: center;
                                        align-items: center;
                                        svg{
                                            width: 1rem;
                                            height: 1rem;
                                            fill: $text1;
                                        }
                                    }
                                }
                                &:first-child{
                                    display: grid;
                                    grid-template-columns: auto auto;
                                    justify-content: right;
                                    align-items: center;
                                    background: transparent;
                                    grid-gap: .5rem;
                                    border-bottom: 1px solid #eee;
                                    padding: .5rem;
                                }
                                &:first-child{
                                    border-bottom-right-radius: 0;
                                    border-bottom-left-radius: 0;
                                    overflow: hidden;
                                }
                            }
                        }
                    }
                    .cityChoice{
                        grid-gap: .3rem;
                        i{
                            svg{
                                width: .85rem;
                                height: .85rem;
                            }
                        }
                        .leftCity{
                            h4{
                                font-size: .5rem;
                            }
                            h5{
                                font-size: .5rem;
                            }
                        }
                    }
                    .themeButton1{
                        .theme-toggle{
                            width: 2rem;
                            height: 2rem;
                            svg{
                                width: 1.5rem !important;
                                height: 1.5rem !important;
                            }
                        }
                    }
                    .login{
                        visibility: hidden;
                        position: absolute;
                        top: 0;
                        padding: .3rem;
                        color: $text1;
                        font-size: .65rem;
                        font-weight: 300;
                        grid-template-columns: auto;
                        justify-content: center;
                        align-items: center;
                        border-radius: 5px;
                        width: 5rem;
                        height: 2.3rem;
                        i{
                            opacity: 0;
                            visibility: hidden;
                            top: 0;
                            position: absolute;
                        }
                    }
                    .headerCart{
                        .headerCartItems{
                            .cartShowBtn{
                                display: grid;
                                grid-template-columns: auto auto;
                                padding: .5rem;
                                border-radius: 5px;
                                i{
                                    svg{
                                        width: .9rem;
                                        height: .9rem;
                                    }
                                }
                                span{
                                    position: absolute;
                                    opacity: 0;
                                    visibility: hidden;
                                    top: 0;
                                }
                                h5{
                                    font-size: 0.7rem;
                                }
                            }
                            .showCart{
                                width: 21rem;
                            }
                        }
                    }
                }
            }
        }
        .headerBot{
            position: absolute;
            top: 0;
            right: 0;
            opacity: 0;
            visibility: hidden;
            display: none;
            .headerList{
                display: grid;
            }
        }
    }
}
