.momentProduct{
    display: grid;
    grid-template-columns: 1fr 17rem;
    grid-gap: 1rem;
    margin: auto;
    margin-top: 2rem;
    .rightMoment{
        border: 1px solid $border1;
        border-radius: 10px;
        overflow: hidden;
        background: $widgetHome;
        box-shadow: 0 0 10px rgba(0,0,0,.05);
        padding: 1rem;
        .rightMomentTitle{
            font-size: 1.5rem;
            font-weight: 700;
            color: $text1;
        }
        .slider-moment{
            margin-top: 1rem;
            .owl-carousel.owl-loaded{
                display: grid !important;
            }
            button.owl-prev{
                position: absolute;
                right: 1rem;
                top: 0;
                bottom: 0;
                span{
                    font-size: 2.5rem;
                    padding: 1rem;
                    background: white;
                    height: 3rem;
                    display: grid;
                    align-content: center;
                    border-radius: 10px;
                    box-shadow: 0 0 10px rgba(0,0,0,.2);
                }
            }
            button.owl-next{
                position: absolute;
                left: 1rem;
                top: 0;
                bottom: 0;
                span{
                    font-size: 2.5rem;
                    padding: 1rem;
                    background: white;
                    height: 3rem;
                    display: grid;
                    align-content: center;
                    border-radius: 10px;
                    box-shadow: 0 0 10px rgba(0,0,0,.2);
                }
            }
            .owl-dots{
                position: absolute;
            }
            a{
                display: grid;
                background: linear-gradient(to left , $backHome2 ,$border1);
                padding: .7rem;
                border-radius: 10px;
                overflow: hidden;
                article{
                    display: grid;
                    grid-template-columns: auto 1fr;
                    grid-gap: 1rem;
                    background: $backHome;
                    border-radius: 10px;
                    overflow: hidden;
                    padding: .7rem;
                    .pic{
                        padding: .7rem;
                        background: $backHome2;
                        border-radius: 5px;
                        .picBlock{
                            padding: .5rem 0;
                            background: white;
                            border-radius: 5px;
                            overflow: hidden;
                            position: relative;
                            img{
                                width: 15rem;
                                height: 15rem;
                                object-fit: contain;
                            }
                            .colors{
                                position: absolute;
                                bottom: .5rem;
                                right: .5rem;
                                display: grid;
                                grid-template-columns: repeat(auto-fit,minmax(1px , auto));
                                justify-content: right;
                                align-items: center;
                                grid-gap: .5rem;
                                .color{
                                    width: 1rem;
                                    height: 1rem;
                                    border-radius: 100%;
                                    border: 2px solid $backHome;
                                    box-shadow: 0px 2px 4px rgba(0,0,0,.2);
                                    margin-left: 1rem;
                                }
                            }
                        }
                    }
                    .leftProduct{
                        h3{
                            display: grid;
                            grid-template-columns: 1fr auto;
                            grid-gap: .5rem;
                            align-items: center;
                            font-size: 1.2rem;
                            font-weight: 500;
                            color: $text1;
                            opacity: .7;
                            span{
                                display: grid;
                                grid-template-columns: auto auto;
                                justify-content: center;
                                grid-gap: .7rem;
                                align-items: center;
                                background: rgba(60, 214, 1, 0.1);
                                padding: .5rem;
                                border-radius: 5px;
                                font-size: .85rem;
                                font-weight: 300;
                                svg{
                                    width: 1rem;
                                    height: 1rem;
                                    fill: green;
                                }
                            }
                        }
                        .starProduct{
                            display: grid;
                            grid-template-columns: auto 1fr;
                            justify-content: right;
                            align-items: center;
                            grid-gap: .5rem;
                            border-bottom: 1px solid $border1;
                            padding-bottom: 1rem;
                            svg{
                                width: 1rem;
                                height: 1rem;
                            }
                            span{
                                font-size: .8rem;
                                font-weight: 300;
                                color: $text1;
                            }
                        }
                        .price{
                            display: grid;
                            grid-template-columns: auto auto;
                            justify-content: right;
                            align-items: center;
                            grid-gap: 1rem;
                            margin: 1.5rem 0;
                            s{
                                font-size: .9rem;
                                font-weight: 500;
                                color: $text1;
                                opacity: .6;
                            }
                            h5{
                                font-size: 1rem;
                                font-weight: 900;
                                color: $text1;
                            }
                        }
                        .ability{
                            h4{
                                font-size: .85rem;
                                font-weight: 500;
                                color: $text1;
                                opacity: .7;
                            }
                            ul{
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                grid-gap: .5rem;
                                max-height: 10rem;
                                overflow: hidden;
                                li{
                                    display: grid;
                                    grid-template-columns: auto auto;
                                    justify-content: right;
                                    align-items: center;
                                    grid-gap: .5rem;
                                    font-size: .85rem;
                                    font-weight: 300;
                                    color: $text1;
                                    margin-top: .5rem;
                                    opacity: .7;
                                    &:before{
                                        content: "";
                                        width: .8rem;
                                        height: .8rem;
                                        background: #ddd;
                                        border: 2px solid $green;
                                        border-radius: 50%;
                                        margin-left: .3rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .leftMoment{
        padding: 1rem;
        border-radius: 10px;
        background: #3B4359;
        h4{
            display: grid;
            grid-template-columns: auto auto;
            justify-content: center;
            align-items: center;
            grid-gap: .5rem;
            font-size: 1.2rem;
            font-weight: 700;
            color: white;
            margin-bottom: 1rem;
            svg{
                width: 1.5rem;
                height: 1.5rem;
                fill: white;
                animation: timeAnim 2.5s linear infinite;
                @-webkit-keyframes timeAnim {
                    0% {
                        transform: rotate(0deg)
                    }

                    100% {
                        transform: rotate(360deg);
                    }
                }
                @keyframes timeAnim {
                    0% {
                        transform: rotate(0deg)
                    }

                    100% {
                        transform: rotate(360deg);
                    }
                }
            }
        }
        .slider-moment2{
            padding: 1rem;
            background: $backHome;
            border-radius: 10px;
            .owl-carousel.owl-loaded{
                display: grid !important;
            }
            button.owl-prev{
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                opacity: 0;
                visibility: hidden;
            }
            button.owl-next{
                position: absolute;
                left: 1rem;
                top: 0;
                bottom: 0;
                opacity: 0;
                visibility: hidden;
            }
            .owl-dots{
                position: absolute;
                opacity: 0;
                visibility: hidden;
            }
            a{
                transform: rotate(50deg);
                .timer{
                    margin-bottom: 1rem;
                    border-radius: 5px;
                    position: relative;
                    overflow: hidden;
                    height: 5px;
                    &:before{
                        height: 5px;
                        background: $backHome2;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        content: "";
                        box-sizing: inherit;
                    }
                    &:after{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 0;
                        height: 5px;
                        background: -webkit-gradient(linear,left top,right top,from($backHome2),to(rgba(255,0,0)));
                        background: linear-gradient(90deg, #f5f5f5, rgba(255,0,0));
                        content: "";
                        transition: all 11s ease-in-out;
                        box-shadow: 0 0 5px rgba(255,0,0,.1);
                    }
                }
                .momentPic{
                    transition: all .5s ease-in-out;
                    transform: rotate(20deg);
                    img{
                        width: 100%;
                        height: 10rem;
                        object-fit: contain;
                    }
                }
                h3{
                    font-size: .9rem;
                    font-weight: 300;
                    text-align: center;
                    color: $text1;
                    margin: 1rem 0;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                }
                h5{
                    display: grid;
                    transition: all 1s ease-in-out;
                    justify-content: left;
                    align-items: center;
                    grid-gap: .5rem;
                    letter-spacing: .1px;
                    font-size: 1.1rem;
                    font-weight: 900;
                    background: $backHome3;
                    padding: .3rem 1rem;
                    border-radius: 5px;
                    color: $text1;
                }
            }
            .owl-item.active{
                .timer{
                    &:after{
                        width: 100%;
                    }
                }
                a{
                    .momentPic{
                        transform: rotate(0);
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 800px) {
    .momentProduct{
        display: block;
        .rightMoment{
            padding: .5rem;
            margin-bottom: 1rem;
            .rightMomentTitle{
                font-size: 1.2rem;
            }
            .slider-moment{
                a{
                    padding: .5rem;
                    article{
                        grid-template-columns:1fr;
                        padding: .5rem;
                        .pic{
                            padding: .5rem;
                            .picBlock{
                                img{
                                    width: 100%;
                                    height: 15rem;
                                    object-fit: contain;
                                }
                            }
                        }
                        .leftProduct{
                            h3{
                                display: block;
                                font-size: 1rem;
                                span{
                                    margin-top: 1rem;
                                }
                            }
                            .price{
                                grid-template-columns: 1fr auto;
                            }
                            .ability{
                                ul{
                                    grid-template-columns: 1fr;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
