.allCreateWidget{
    .topProductIndex{
        display: grid;
        grid-template-columns: 1fr auto;
        background: white;
        border-radius: .3rem;
        padding: 1rem;
        .right{
            display: grid;
            grid-template-columns: repeat(auto-fit , minmax(2px , auto));
            justify-content: right;
            align-items: center;
            grid-gap: .5rem;
            span{
                color: $text1;
                font-weight: 400;
                font-size:.95rem;
            }
            a{
                color: $text1;
                font-weight: 400;
                font-size:.95rem;
                &:last-child{
                    color: $blue;
                }
            }
        }
    }
    .createWidget{
        background: white;
        border-radius: .3rem;
        margin-top: 1rem;
        padding: 1rem;
        .createItems{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1rem;
            align-items: center;
            margin-top: 1rem;
        }
        .createItem{
            label{
                color: $text1;
                font-weight: 500;
                font-size: .9rem;
                margin-bottom: .5rem;
                display: grid;
            }
            input,select{
                background: white;
                border: 1px solid #DFE3E7;
                padding: 0.3rem .5rem;
                color: $text1;
                border-radius: .3rem;
                font-size: .8rem;
                width: 100%;
                height: 2rem;
                transition: all .3s ease-in-out;
                &:focus{
                    box-shadow: 0 3px 8px 0 rgba(0,0,0,.1);
                    border: 1px solid $blue;
                }
            }
        }
        .abilityPost{
            background: #F5F6F8;
            padding: 1rem;
            border-radius: .2rem;
            margin-top: 1rem;
            .abilityTitle{
                display: grid;
                grid-template-columns: auto auto;
                justify-content: space-between;
                grid-gap: .5rem;
                align-items: center;
            }
            .abilityTable{
                display: grid;
                grid-template-columns: 1fr;
                margin: 1rem 0;
                box-shadow: 0 0 0 0;
                border-radius: .3rem;
                overflow: hidden;
                tr{
                    display: grid;
                    grid-template-columns: 1fr 1fr auto;
                    text-align: right;
                    align-items: center;
                    grid-gap: 1rem;
                    background: white;
                    padding: 0 1rem;
                    min-height: 3.5rem;
                    border-bottom: 0;
                    th{
                        font-weight: 300;
                        color: $text1;
                        font-size: .75rem;
                        text-align: right;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        padding-right: 1rem;
                        i{
                            cursor: pointer;
                            svg{
                                width: 1.2rem;
                                height: 1.2rem;
                                fill: $text1;
                                transition: all .3s ease-in-out;
                            }
                            &:hover{
                                svg{
                                    fill: black;
                                }
                            }
                        }
                    }
                    td{
                        display: grid;
                        grid-template-columns: 1fr;
                        color: $text1;
                        font-size: .7rem;
                        font-weight: 200;
                        overflow: hidden;
                        i{
                            cursor: pointer;
                            svg{
                                width: 1rem;
                                height: 1rem;
                                fill: $text1;
                            }
                        }
                        input,select{
                            background: transparent;
                            border: 1px solid #DFE3E7;
                            padding: 0.3rem .5rem;
                            color: $text1;
                            border-radius: .3rem;
                            font-size: .8rem;
                            width: 100%;
                            transition: all .3s ease-in-out;
                            resize: vertical;
                            height: 2rem;
                            &:focus{
                                box-shadow: 0 3px 8px 0 rgba(0,0,0,.1);
                                border: 1px solid $blue;
                            }
                        }
                    }
                    &:nth-child(2){
                        border-top: 2px solid #DFE3E7;
                    }
                }
            }
        }
        .change20{
            .abilityTable{
                tr{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr auto;
                }
            }
        }
        .button{
            padding: .5rem 1.5rem;
            background: green;
            margin-top: 1rem;
            color: white;
            font-size: .85rem;
            font-weight: 300;
            border-radius: 5px;
        }
    }
}
