.allGiftIndex{
    margin: auto;
    margin-top: 3rem;
    .gift-bubbles {
        display: grid;
        grid-template-columns: repeat(5,auto);
        justify-content: center;
        grid-gap: 2rem;
        align-items: center;
        margin-bottom: 75px;
    }
    .alert{
        text-align: center;
        background: rgba(255, 0, 0, 0.1);
        padding: 1rem;
        border-radius: 5px;
        margin-bottom: 2rem;
        color: red;
        font-size: 1rem;
        font-weight: 500;
    }
    .gift-bubble-wrapper {
        width: 100px;
    }
    .gift-bubble-item {
        margin: auto;
        background: $backHome3;
        border-radius: 50%;
        width: 66.66666666666667px;
        height: 66.66666666666667px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: default;
        box-shadow: 0 0 10px rgba(0,0,0,.3);
        font-size: 1.4rem;
    }
    .christmas-gifts {
        display: grid;
        grid-template-columns: repeat(5,auto);
        justify-content: center;
        grid-gap: 2rem;
        align-items: center;
        margin-bottom: 75px;
    }
    .gift-wrapper {
        position: relative;
    }
    .gift-wrapper.jump:hover {
        cursor: pointer;
        animation: wrapperHover 0.75s;
    }
    .gift-wrapper.jump:hover .gift-box {
        animation: giftBoxHover 0.85s;
    }
    .gift-box {
        background: #d3000a;
        width: 100px;
        height: 100px;
        transition: 0.25s;
        border-radius: 3.03030303030303px;
        position: relative;
        box-shadow: 0 0 1px 1px #222;
        z-index: 2;
    }
    .gift-box::before,
    .gift-box::after {
        background: #090;
        content: '';
        display: block;
        position: absolute;
        box-shadow: 0 0 1px 0 #222;
    }
    .gift-box::before {
        top: 50%;
        width: 100%;
        height: 19px;
        transform: translateY(-50%);
    }
    .gift-box::after {
        top: 0;
        left: 50%;
        height: 100%;
        width: 19px;
        transform: translateX(-50%);
    }
    .gift-box > span {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 10px;
        text-align: center;
        font-size: 0.7rem;
        background: #fff;
        color: #d3000a;
        font-weight: bold;
        width: 20px;
        height: 25px;
        line-height: 30px;
        border-radius: 0 0 3px 2px;
        box-shadow: 0 0 1px 0 #222;
    }
    .gift-box > span::before {
        display: inline-block;
    }
    .gift-wrapper:nth-of-type(1) .gift-box > span::before {
        content: ' 1 ';
    }
    .gift-wrapper:nth-of-type(2) .gift-box > span::before {
        content: ' 2 ';
    }
    .gift-wrapper:nth-of-type(3) .gift-box > span::before {
        content: ' 3 ';
    }
    .gift-wrapper:nth-of-type(4) .gift-box > span::before {
        content: ' 4 ';
    }
    .gift-wrapper:nth-of-type(5) .gift-box > span::before {
        content: ' 5 ';
    }
    .gift-ribbon {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 66.66666666666667px;
        height: 66.66666666666667px;
        background: transparent;
    }
    .gift-ribbon::before,
    .gift-ribbon::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 19px;
        background: #090;
        box-shadow: 0 0 1px 1px #222;
    }
    .gift-ribbon::before {
        transform: rotate(45deg);
        border-radius: 0 0 0 10px;
    }
    .gift-ribbon::after {
        transform: rotate(-45deg);
        border-radius: 0 0 10px 0;
    }
    .promo-wrapper {
        margin-bottom: 75px;
        h1{
            font-size: 1.4rem;
            font-weight: 700;
            color: $text1;
        }
        h3{
            font-size: 1.2rem;
            font-weight: 500;
            color: $text1;
            margin-top: 1rem;
        }
    }
    .promo-wrapper,
    .congrats-wrapper {
        width: 100%;
        text-align: center;
    }
    .promo-wrapper span,
    .congrats-wrapper span {
        display: block;
        margin: 0.5rem 0;
        font-size: 1rem;
    }
    .discount,
    .codeword {
        color: #090;
        i{
            display: grid;
            justify-content: center;
            align-items: center;
            height: 1.7rem;
            animation: arrow-anim2 .5s ease infinite;
            svg{
                width: 1.5rem;
                height: 1.5rem;
            }
            @keyframes arrow-anim2 {
                0% {
                    transform: rotate(0deg);
                }
                15% {
                    transform: rotate(45deg);
                }
                25% {
                    transform: rotate(90deg);
                }
                50% {
                    transform: rotate(180deg);
                }
                75% {
                    transform: rotate(270deg);
                }
                85% {
                    transform: rotate(300deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
        }
    }
    @-moz-keyframes wrapperHover {
        0% {
            transform: translateY(0);
        }
        25% {
            transform: translateY(-30%);
        }
        50% {
            transform: translateY(0);
        }
        60% {
            transform: translateY(4%);
        }
        70% {
            transform: translateY(0);
        }
    }
    @-webkit-keyframes wrapperHover {
        0% {
            transform: translateY(0);
        }
        25% {
            transform: translateY(-30%);
        }
        50% {
            transform: translateY(0);
        }
        60% {
            transform: translateY(4%);
        }
        70% {
            transform: translateY(0);
        }
    }
    @-o-keyframes wrapperHover {
        0% {
            transform: translateY(0);
        }
        25% {
            transform: translateY(-30%);
        }
        50% {
            transform: translateY(0);
        }
        60% {
            transform: translateY(4%);
        }
        70% {
            transform: translateY(0);
        }
    }
    @keyframes wrapperHover {
        0% {
            transform: translateY(0);
        }
        25% {
            transform: translateY(-30%);
        }
        50% {
            transform: translateY(0);
        }
        60% {
            transform: translateY(4%);
        }
        70% {
            transform: translateY(0);
        }
    }
    @-moz-keyframes giftBoxHover {
        0% {
            transform: scale(1, 1);
        }
        25% {
            transform: scale(0.95, 1.05);
        }
        50% {
            transform: scale(1, 1);
        }
        60% {
            transform: scale(1.1, 0.9);
        }
        70% {
            transform: scale(1, 1);
        }
    }
    @-webkit-keyframes giftBoxHover {
        0% {
            transform: scale(1, 1);
        }
        25% {
            transform: scale(0.95, 1.05);
        }
        50% {
            transform: scale(1, 1);
        }
        60% {
            transform: scale(1.1, 0.9);
        }
        70% {
            transform: scale(1, 1);
        }
    }
    @-o-keyframes giftBoxHover {
        0% {
            transform: scale(1, 1);
        }
        25% {
            transform: scale(0.95, 1.05);
        }
        50% {
            transform: scale(1, 1);
        }
        60% {
            transform: scale(1.1, 0.9);
        }
        70% {
            transform: scale(1, 1);
        }
    }
    @keyframes giftBoxHover {
        0% {
            transform: scale(1, 1);
        }
        25% {
            transform: scale(0.95, 1.05);
        }
        50% {
            transform: scale(1, 1);
        }
        60% {
            transform: scale(1.1, 0.9);
        }
        70% {
            transform: scale(1, 1);
        }
    }
    @media screen and (max-width: 800px) {
        .promo-wrapper {
            margin-bottom: 50px;
            h1{
                font-size: 1.1rem;
            }
            h3{
                font-size: .9rem;
                margin-top: .5rem;
            }
        }
        .gift-box , .gift-bubble-wrapper,.gift-bubble-item{
            width: 40px;
            height: 40px;
            font-size: .8rem;
        }
        .gift-ribbon {
            width: 40px;
            height: 40px;
            &:before,&:after{
                height: 8px;
            }
        }
    }
}
