.allCommentPanel{
    background: white;
    padding: 1rem;
    border-radius: 10px;
    .addComment{
        display: grid;
        grid-template-columns: 1fr auto;
        grid-gap: 1rem;
        .right{
            .alert{
                color: red;
                font-size: .8rem;
                font-weight: 300;
            }
            .sendCommentItem{
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: .5rem;
                margin-top: 1rem;
                input,select{
                    background: white;
                    padding: .5rem;
                    border: 1px solid $border1;
                    border-radius: .2rem;
                    width: 100%;
                    transition: all .3s ease-in-out;
                    font-size: .75rem;
                    font-weight: 300;
                }
                textarea{
                    padding: .5rem;
                    border: 1px solid $border1;
                    border-radius: 5px;
                    width: 100%;
                    outline-style: unset;
                    transition: all .3s ease-in-out;
                    font-size: .75rem;
                    font-weight: 300;
                    height: 10rem;
                    resize: vertical;
                }
                .sendCommentItemTitle{
                    display: grid;
                    grid-template-columns: auto auto;
                    justify-content: right;
                    grid-gap: .5rem;
                    align-items: center;
                    i{
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        svg{
                            fill: orange;
                            width: .6rem;
                            height: .6rem;
                        }
                    }
                }
                label{
                    font-size: .95rem;
                    line-height: 1.692;
                    color: $text1;
                    position: relative;
                    i{
                        position: absolute;
                        left: 1rem;
                        top: 0;
                        bottom: 0;
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        svg{
                            width: 1.2rem;
                            height: 1.2rem;
                        }
                    }
                }
                span{
                    margin-top: .5rem;
                    width: 100%;
                    border: 1px solid $green;
                    background: #EDF6F7;
                    position: relative;
                    padding: .5rem;
                    color: $green;
                    border-radius: 5px;
                    i{
                        position: absolute;
                        left: 1rem;
                        top: 0;
                        bottom: 0;
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        svg{
                            width: 1rem;
                            height: 1rem;
                        }
                    }
                }
            }
            #badContainer{
                span{
                    border: 1px solid red;
                    background: #F7EDED;
                    color: red;
                }
            }
            .rates{
                display: grid;
                grid-template-columns: auto 1fr;
                align-items: center;
                grid-gap: 1rem;
                h4{
                    font-size: .95rem;
                    color: $text1;
                    font-weight: 500;
                }
                .rateItem{
                    direction: ltr;
                }
            }
        }
        .left{
            padding: 1rem;
            border-radius: 10px;
            border: 1px solid $border1;
            width: 30rem;
            position: sticky;
            top: 1rem;
            .titlePost{
                margin-top: 0;
                font-size: 1rem;
                font-weight: 700;
            }
            h5{
                font-size: 1rem;
                font-weight: 300;
                color: #45BFEC;
            }
            ul{
                li{
                    display: grid;
                    grid-template-columns: auto auto;
                    justify-content: right;
                    grid-gap: .5rem;
                    font-size: .9rem;
                    font-weight: 300;
                    color: $text1;
                    line-height: 2rem;
                    margin-top: 1rem;
                    align-items: center;
                    &:before{
                        content: "";
                        width: 8px;
                        height: 8px;
                        border-radius: 100%;
                        background: #707070;
                    }
                }
            }
            .allCommentButtons{
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
                grid-gap: 1rem;
                margin-top: 1rem;
                button{
                    display: grid;
                    grid-template-columns: auto auto;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    background: $green;
                    padding: .5rem 1rem;
                    border-radius: .2rem;
                    i{
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        svg{
                            fill: white;
                            width: 1rem;
                            height: 1rem;
                        }
                    }
                    img{
                        width: 4rem;
                        height: 1rem;
                        object-fit: cover;
                    }
                    &:last-child{
                        display: block;
                        background: red;
                    }
                }
            }
        }
    }
}
