.profileIndexTicket{
    .alert{
        background: rgba(0, 128, 0, 0.26);
        color: #006200;
        padding: 1rem;
        border-radius: .3rem;
        font-size: .85rem;
        font-weight: 300;
        margin: 1rem 0;
    }
    table{
        background: white;
        border-radius: .3rem;
        box-shadow: 0 0 10px rgba(0,0,0,.05);
        width: 100%;
        tr{
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(1px , 1fr));
            align-items: center;
            grid-gap: 1rem;
            padding: 1rem;
            th{
                font-weight: 700;
                color: $text1;
                font-size: .85rem;
                text-align: center;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                display: grid;
                align-items: center;
                justify-content: center;
            }
            td{
                font-weight: 300;
                font-size: .85rem;
                text-align: center;
                color: $text1;
                svg{
                    fill: $text1;
                    width: 1rem;
                    height: 1rem;
                    cursor: pointer;
                }
                img{
                    width: 2.5rem;
                    height: 2.5rem;
                    object-fit: cover;
                    border-radius: 5rem;
                    box-shadow: 0 0 10px rgba(0,0,0,.1);
                }
                a{
                    display: grid;
                    align-items: center;
                    svg{
                        margin-left: .5rem;
                    }
                }
                .unActive{
                    color: red;
                }
                .active{
                    color: $green;
                }
            }
            .buttons{
                display: grid;
                grid-template-columns: auto auto;
                grid-gap: .5rem;
                a{
                    font-size: .8rem;
                    padding: .3rem;
                    border-radius: 5px;
                    color: white;
                    background: green;
                }
                button{
                    font-size: .8rem;
                    padding: .3rem;
                    border-radius: 5px;
                    color: white;
                    background: orange;
                    &:last-child{
                        background: red;
                    }
                }
            }
            &:nth-child(even){
                background: #eee;
            }
        }
    }
    @media screen and (max-width: 700px) {
        table{
            tr{
                grid-gap: .5rem;
                padding: .5rem;
                th{
                    font-size: .5rem;
                }
                td{
                    font-size: .5rem;
                    svg{
                        width: .7rem;
                        height: .7rem;
                    }
                }
                .buttons{
                    display: block;
                    a{
                        font-size: .5rem;
                    }
                    button{
                        font-size: .5rem;
                    }
                }
            }
        }
    }
    .popUp{
        background: rgba(0,0,0,.5);
        z-index: 4000;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        .popUpItem {
            width: 40%;
            margin: auto;
            background: white;
            border-radius: .4rem;
            position: relative;
            padding: 1rem;
            .title{
                font-size: 1.2rem;
                font-weight: 500;
                color: $text1;
                text-align: center;
            }
            p{
                margin-top: .5rem;
                font-size: 1rem;
                font-weight: 300;
                color: $text1;
                text-align: center;
            }
            .buttonsPop{
                display: grid;
                grid-template-columns: auto auto;
                justify-content: center;
                align-items: center;
                grid-gap: 1rem;
                margin-top: 2rem;
                button{
                    font-size: .9rem;
                    padding: .3rem 1rem;
                    border-radius: 5px;
                    background: green;
                    color: white;
                    &:nth-child(2){
                        background: red;
                    }
                }
            }
        }
    }
    .showTicket{
        background: rgba(0,0,0,.5);
        z-index: 4000;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        overflow-y: scroll;
        .ticketData {
            width: 40%;
            margin: auto;
            background: white;
            border-radius: .4rem;
            position: relative;
            padding: 1rem;
            .itemsAnswer{
                margin-top: 2rem;
            }
            .itemsTicket{
                margin-bottom: 1rem;
            }
            h4{
                font-size: .9rem;
                font-weight: 500;
                color: $text1;
                margin-bottom: .5rem;
            }
            textarea,input,select{
                padding: .5rem;
                background: #f5f5f5;
                width: 100%;
                border-radius: 5px;
                font-size: .85rem;
                font-weight: 300;
                color: $text1;
            }
            p{
                font-size: .8rem;
                font-weight: 300;
                color: $text1;
                opacity: .7;
            }
            .buttonsPop{
                display: grid;
                grid-template-columns: auto auto;
                justify-content: center;
                align-items: center;
                grid-gap: 1rem;
                margin-top: 2rem;
                button{
                    font-size: .9rem;
                    padding: .3rem 1rem;
                    border-radius: 5px;
                    background: green;
                    color: white;
                }
                h5{
                    font-size: .9rem;
                    padding: .3rem 1rem;
                    border-radius: 5px;
                    color: white;
                    background: red;
                }
            }
        }
    }
}
